<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Tabela Periódica: Elemento {{entry.nome.value}}</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Tabela Periódica: Elemento {{entry.nome.value}}</h1>
            </header>

            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th>Número</th>
                        <th>Nome</th>
                        <th>Símbolo</th>
                        <th>Grupo</th>
                    </tr>
                    <tr>
                        <th>{{entry.n.value}}</th>
                        <th>{{entry.nome.value}}</th>
                        <th>{{entry.simb.value}}</th>
                        <th><a href="/grupos/{{entry.groupFragment.value}}">{{entry.groupNumeric.value}}</a></th>
                    </tr>
                </table>
            </div>

            <footer class="w3-container w3-purple">
                <h5>Gerado por RPCW2024</h5>
            </footer>
        </div>
    </body>
</html>